* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}

h2 {
	text-align: center;
}

body {
	background-image: url('/file/Images/apic11460.jpg'); no-repeat;
	background-size: cover;
	font-size: 16px;
}

.form {
	/*background: rgba(255, 255, 255, 0.2);*/
	background-color:white;
	margin-top: 5%;
	margin-left: 30%;
	height: 390px;
	text-align: center;
}

.span_setting {
	color: red;
	font-size: 12px;
}

.a_setting{
	font-size: 12px;
}

.a_setting2{
	font-size: 15px;
}


.font_setting{
	font-size: 14px;
}

a:hover{
	color:red;
	text-decoration: none;
}